<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  <header>
    <h1><a href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a></h1>
    <nav>
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </nav>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    <p>© {{ now.Format "2006" }} {{ .Site.Params.author }}</p>
  </footer>
</body>
</html> 
